a, button{
    border-radius: 12px;
    background-color: $color5;
    color: white;
    font-family: sans-serif;
    font-weight: 900;
    padding: 5px;
    border: 4px solid;
    border-bottom-color: #591240;
    border-right-color: #591240;
    border-left-color: #d24fa4;
    border-top-color: #d24fa4;
    img{
        width: 20px;
    }
}
a:hover, button:hover{
    background-color: #b43387;
    cursor: pointer;
    border-bottom-color: #631648;
    border-right-color: #631648;
    border-left-color: #d756aa;
    border-top-color: #d756aa;
}
a:active, button:active{
    background-color: $color4;
    border-bottom-color: #484d90;
    border-right-color: #484d90;
    border-left-color: #1c1f4c;
    border-top-color: #1c1f4c;
}
div.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
div.buttoncontainer{
    width: 75%;
    margin: auto;
}
section#bpm-control{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    button{
        margin-left: 10px;
        margin-right: 10px;
    }
}
a{
    margin: 10px;
}
